<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Test POST /questionnaires/nbQuest</title>
    <title>Employee web app</title>
    <link class="homer" rel="icon" type="image" href="/homer.jpg">
    <style>
        body {
            padding-top: 50px;
            background-image:url(https://media.carrefour.fr/medias/f211869e7f63459f987472a9fcfcad10/p_1500x1500/04549526615603_C1N1_s01.jpeg);
            background-repeat: no-repeat;
            background-position: top;
            background-size: 1000px;
        }

    </style>
</head>
<body>
<h1>Calcule le nombre de questionnaires possibles</h1>

<form action="/questionnaires/nbQuest" method="post">
    <label>Compétences (séparées par des virgules)</label><br>
    <input type="text" name="competences" id="competences" value="java,sql"><br><br>

    <label>Niveaux (séparés par des virgules)</label><br>
    <input type="text" name="niveaux" id="niveaux" value="BRONZE,OR"><br><br>

    <button type="submit">Calculer</button>

</form>
<p>Nombre de questionnaires : <span th:text="${nbQuest}"></span></p>

<h2><a th:href="@{/questionnaires/}"><button>Accueil</button></a></h2>

</body>
</html>
